.mail__body {
  background-color: white;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mail__topSection {
  position: sticky;
  top: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  width: inherit;
  flex: 0.07;
}
.mail__topSection__left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 0.5;
  margin-left: 1rem;
}

.mail__topSection__sec1,
.mail__topSection__sec2 {
  flex: 0.33;
  box-shadow: inset -1px 0 0 rgb(100 121 143 / 12%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mail__topSection__sec3 {
  flex: 0.33;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mail__topSection__right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* ====mail body content=== */
.mail__body__bottom {
  padding: 0 1rem;
  flex: 0.93;
}
.mail__body__bottom__title {
  display: flex;
  align-items: baseline;
  flex: 0.1;
  margin-left: 4rem;
  gap: 1rem;
  color: rgb(78, 78, 78);
}

.mail__body__bottom__title h1 {
  font-weight: 400;
}

.mail__body__senderDetail {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* height: 3rem; */
  flex: 0.15;
}

.mail__body__senderDetail__Address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 3rem;

  padding: 0;
  margin: 0;
}

.mail__body__senderDetail__Address > * {
  margin: 0;
}

.mail__body__senderDetail__right {
  margin-left: auto;
}

.mail__body__content {
  padding: 1rem;
  margin-top: 1rem;
  flex: 0.75;
  height: 75%;
  border-radius: 0.8rem;
  background-color: whitesmoke;
}
